// Footer Contact 
.jules {
    background-color: $backgroundColorFooter;
    color: $titreBlanc;
    display: flex;
    justify-content: center;
    margin-bottom: 0%;
    // margin-right: -25%;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-left: -25%;
    padding-left: 25%;
} 


// Footer Accueil


// Footer Chambre
.footersaif {
    background-color: $backgroundColorFooter;
    color: $titreBlanc;
    display: flex;
    justify-content: center;
    margin-bottom: 0%;
    // margin-right: -25%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    margin-left: -25%;
    padding-left: 50%;
}


span {
   color: #646161;
}
