footer {
    background-color: #222222;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;

    p {
        text-align: center;
        color: #ffffff;

        span {
            font-weight: bold;
            font-size: small;
            color: rgb(201, 196, 196);
        }
    }
}

