.nav {
  display: flex;
  flex-direction: column;
  background-color: $backgroundColorNav;
  line-height: 100%;
  width: 20%;
  margin-top: 0;
  margin-left: 0;
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  overflow-x: hidden;
  //padding top à supprimer version mobile//
  padding-top: 4%;
  padding-left: 1%;
  padding-right: 1%;
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav li a {
  display: flex;
  color: $couleurTexte;
  padding: 8px 16px;
  text-decoration: none;
}

.nav li a:hover {
  color: $texteOrange;
}

.etoile {
  text-align: center;
  font-size: 12px;
  color: $texteOrange;
}

.titrenav {
  color: $texteOrange;
  text-align: center;
  font-size: $taillePoliceTitre;
  font-weight: 100;
  letter-spacing: 5px;
}


.haut {
  text-align: center;
  position: relative;
  letter-spacing: 4px;
  word-spacing: 10px;
  font-size: 10px;
  margin-top: -4%;
}


.lien {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: $taillePoliceTexte;
  line-height: 30px;
  height: 400px;
}

.numnav {
  display: flex;
  flex-direction: row;
  font-size: $taillePoliceTexte;
  color: $couleurTexte;
  justify-content: space-evenly;
  margin-right: 25px;
  width: 260px;
  line-height: 12px;
}

.flaticon-call {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: $taillePoliceTitre;
  color: $texteOrange;
}


.telnav {
  color: $texteOrange;
  text-decoration: none;
  font-size: 25px;
}
//menu burger
.menu-burger i{
background: none;
font-size: 60px;
// display: none;

}
// display: block;

.menu-burger{

display: inline-block;
position: relative;
}


.menu-burger::before,
.menu-burger::after{
  content: '';
 
  display: inline-block;
  position: absolute;
  transform-origin: center;
  transition: all 0.3s ease;

}

.menu-burger::before{
  top: -7px;
}

.menu-burger::after{
  top: 7px;
}
