//menu burger
#burger{
 
    display: none;
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 10000;
  }
    
  aside {
    height: auto;
    width: 300px;
    max-width: 100%;
    z-index: 1000;
  }
    
   
    


    @media screen and (max-width: 400px) {
      #burger {
        display: block;
      }
    
      aside {
        position: fixed;
        top: 0;
        left: 0;
         display: none;
    
        &.active {
          display: block;
        }
      }
    
    }