//menu burger
.menu-burger i{
    background: none;
    font-size: 60px;
    // display: none;
    
    }
    // display: block;
    
    .menu-burger{
    
    display: inline-block;
    position: relative;
    }
    
    
    .menu-burger::before,
    .menu-burger::after{
      content: '';
     
      display: inline-block;
      position: absolute;
      transform-origin: center;
      transition: all 0.3s ease;
    
    }
    
    .menu-burger::before{
      top: -7px;
    }
    
    .menu-burger::after{
      top: 7px;
    }