/* CSS pour la partie présentation */
.presentation {
    width: auto;
    // height: 600px;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    background-color: $backgroundColorMain;
    margin-left: 200px;
}

.presentation img {
    width: 50%;
}

/* Mise en forme de la partie texte */

.textes img {
    width: 40%;


}

.textes {
    display: flex;
    flex-direction: column;
    width: 70%;
}

/* Mise en forme de la partie avec les images */
.images {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-bottom: 80px;
}

.images img {
    width: 20%;
    
}

.image1 {
    margin-top: 130px;
}

.image2 {
    margin-top: 40px;
}