/* CSS pour la section service en plus */

.servicesEnPlus h2 {
    margin-left: 180px;
    margin-top: 100px;
}

// CSS de la box1 service
.boxService1 {
    display: flex;
    margin-left: 90px;
    justify-content: space-around;
    height: 270px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.transferts {
    width: 300px;
    border: solid rgba(128, 128, 128, 0.39) 1px;
    padding: 30px;
}

.parking {
    width: 300px;
    border: solid rgba(128, 128, 128, 0.39) 1px;
    padding: 30px;
}

.rommService {
    width: 300px;
    border: solid rgba(128, 128, 128, 0.39) 1px;
    padding: 30px;
}

// CSS de la box1 service
.boxService2 {
    display: flex;
    margin-left: 90px;
    justify-content: space-around;
}

.piscine {
    width: 300px;
    border: solid rgba(128, 128, 128, 0.39) 1px;
    padding: 30px;
}

.accesInternet {
    width: 300px;
    border: solid rgba(128, 128, 128, 0.39) 1px;
    padding: 30px;
}

.ptitdej {
    width: 300px;
    border: solid rgba(128, 128, 128, 0.39) 1px;
    padding: 30px;
}