/* CSS pour la partie présentation */
.presentation {
    height: 600px;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    background-color: $backgroundColorMain;
}

.presentation img {
    width: 50px;
}

/* Mise en forme de la partie texte */

.textes img {
    width: 100px;


}

.textes {
    display: flex;
    flex-direction: column;
    width: 600px;
}

/* Mise en forme de la partie avec les images */
.images {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-bottom: 80px;
}

.images img {
    width: 300px;
    height: 400px;
}

.image1 {
    margin-top: 130px;
}

.image2 {
    margin-top: 40px;
}


//  Média query

@media (max-widht: 450px) {
    body {
        width: auto;
    }

    .presentation {
        display: flex;
        flex-direction: column;
        width: auto;
    }

    .images {
        display: flex;
        flex-direction: column;
    }
}