.texte{
    position: absolute;
    z-index: 1;
    top:300px;
    left:1000px;  
}

.texte img{
 width: 50px;
 justify-items: center;
}

.carrousel{
width: 1480px;
height: 700px;

position: relative;
overflow: hidden;
justify-content: center;
margin-left: 40px;
}

#content{
    width: 1480px;
    height: 700px;
}

.photo{
    width: 1480px;
    height: 700px;
    margin: 0%;
    display: inline-block;
    background-size: cover;
}

.bouton{
    position: absolute;
    width: 70px;
    cursor: pointer;
    top: 250px;
    opacity: 0.4;
  
}

#g{
    left: 0%;
   
    transform: rotate(0deg);
    transition: all 0.3 ease;
}

#d{
    right: 0%;
   
    transform: rotate(180deg);
    transition: all 0.3 ease;
}

#g:hover{
    transform: rotate(0deg) scale(1.1);
    opacity: 0.5;
    transition: all 0.3 ease;
}

#d:hover{
    transform: rotate(180deg) scale(1.1);
    opacity: 0.5;
    transition: all 0.3 ease;
}