.texte{
    position: absolute;
    z-index: 1;
    top:100px;
    left:300px;
    
  
}
.texte img{
 width: 50px;
 justify-items: center;
}

.carrousel{
width: 800px;
height: 400px;

position: relative;
overflow: hidden;
justify-content: center;
}

#content{
    width: 800px;
    height: 400px;
}

.photo{
    width: 800px;
    height: 400px;
    margin: 0%;
    display: inline-block;
    background-size: cover;
}

.bouton{
    position: absolute;
    width: 70px;
    cursor: pointer;
    top: 150px;
    opacity: 0.4;
  
}

#g{
    left: 0%;
   
    transform: rotate(0deg);
    transition: all 0.3 ease;
}

#d{
    right: 0%;
   
    transform: rotate(180deg);
    transition: all 0.3 ease;
}

#g:hover{
    transform: rotate(0deg) scale(1.1);
    opacity: 0.5;
    transition: all 0.3 ease;
}

#d:hover{
    transform: rotate(180deg) scale(1.1);
    opacity: 0.5;
    transition: all 0.3 ease;
}