/* CSS pour la partie présentation */


/* Mise en forme de la partie texte */
.presentation {
    height: 600px;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    background-color: #2D2B29;
}

.presentation img {
    width: 50px;
}

.texte {
    display: flex;
    flex-direction: column;
    width: 500px;
}

/* Mise en forme de la partie avec les images */
.images {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.images img {
    width: 200px;
    height: 300px;
}





/* CSS pour la présentation des chambres */

.chambres {
    background-color: #272523;
    height: 1000px;
    gap: 30px;
    padding-top: 30px;
}


/* Mise en forme du titre et texte */
.texteChambres {
    display: flex;
    flex-direction: column;
    color: white;
    margin-left: 450px;
}

.boxChambre {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: space-around;
    width: 700px;
    margin-left: 450px;
}

/* Mise en forme de la box1 avec les 3 premières photos */
.image3 {
    width: 300px;
}

.box1 {
    display: flex;
    justify-content: space-between ;
    
   
}

.chambreBox1 {
    position: absolute;
    z-index: 1;
}

.prixBox1 {
    position: absolute;
    z-index: 1;
    margin-top: 300px;
    margin-left: 10px;
    z-index: 2;
    font-size: 90%;
    color: white;
    width: 200px;
}

.styleBox1 {
    position: absolute;
    z-index: 1;
    margin-top: 310px;
    margin-left: 10px;
    z-index: 2;
    font-size: 130%;
    color: white;
    width: 200px;
}

.reserverBox1 p {
    position: absolute;
    z-index: 1;
    margin-top: 20px;
    margin-left: 250px;
    z-index: 2;
    font-size: 130%;
    color: white;
    border: white solid 2px;
    height: 120px;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-align: center;
}


/* Mise en forme de la box2 avec les 2 dernières photos */
.image4 {
    width: 490px;
}

.box2 {
    display: flex;
    justify-content: space-between ;
    width: 510px;
    margin-top: 440px;
    background-color: #272523;
}

.chambreBox2 {
    position: absolute;
    z-index: 1;
}

.prixBox2 {
    position: absolute;
    z-index: 1;
    margin-top: 200px;
    margin-left: 15px;
    z-index: 2;
    font-size: 90%;
    color: white;
    width: 200px;
}

.styleBox2 {
    position: absolute;
    z-index: 1;
    margin-top: 210px;
    margin-left: 15px;
    z-index: 2;
    font-size: 130%;
    color: white;
    width: 200px;
}

.reserverBox2 p {
    position: absolute;
    z-index: 1;
    margin-top: 20px;
    margin-left: 420px;
    z-index: 2;
    font-size: 130%;
    color: white;
    border: white solid 2px;
    height: 120px;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-align: center;
}





/* CSS pour les liens */
.liens {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2D2B29;
    padding-top: 50px;
}

.restaurant {
    display: flex;
    align-items: center;
}

.restaurant img {
    width: 500px;
}

.restaurantTexte {
    width: 500px;
    height: 300px;
    background-color: #312F2C;
    padding-top: 30px;
}

.restaurantTexte p , .restaurantTexte h3 {
    margin: 10px;
}

.bienEtre {
    display: flex;
    align-items: center;
}

.bienEtre img {
    width: 500px;
}

.bienEtreTexte {
    width: 500px;
    height: 300px;
    background-color: #312F2C;
    padding-top: 30px;
}

.bienEtreTexte p , .bienEtreTexte h3 {
    margin: 10px;
}

.fitness {
    display: flex;
    align-items: center;
}

.fitness img {
    width: 500px;
}

.fitnessTexte {
    width: 500px;
    height: 300px;
    background-color: #312F2C;
    padding-top: 30px;
}

.fitnessTexte p , .fitnessTexte h3 {
    margin: 10px;
}

.centreAqua {
    display: flex;
    align-items: center;
}

.centreAqua img {
    width: 500px;
}

.centreAquaTexte {
    width: 500px;
    height: 300px;
    background-color: #312F2C;
    padding-top: 30px;
}

.centreAquaTexte p , .centreAquaTexte h3 {
    margin: 10px;
}

.enSavoirPlus {
    border: solid #aa8453;
    margin: 10px;
    color: white;
    background-color: #aa8453;
}


/* CSS pour les couleurs, polices, et tailles des textes */


h2 {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3 {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.jauneLiens {
    color: #AB854F;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.grisLiens {
    color: grey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.titreJaune {
    color: #AB854F;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.texteGris {
    color: grey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}