
/* CSS pour les couleurs, polices, et tailles des textes */

h2 {
    color: $titreBlanc;
    font-family: $policeTitre;
}

h3 {
    color: $titreBlanc;
    font-family: $policeTitre;
}

.jauneLiens {
    color: $texteOrange;
    font-family: $policeClassique;
}

.prixOrange {
    color: $texteOrange;
    font-family: $policeTitre;
    font-size: 40px;
}

.grisLiens {
    color: $couleurTexte;
    font-family: $policeClassique;
}

.titreJaune {
    color: $texteOrange;
    font-family: $policeClassique;
}

.texteGris {
    color: $couleurTexte;
    font-family: $policeClassique;
}

main {
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    background-color: $backgroundColorMain;
}

.boxService1 i {
    color: $texteOrange;
    font-size: 40px;
}

.boxService2 i {
    color: $texteOrange;
    font-size: 40px;
}

.titreOption {
    color: $titreBlanc;
    font-size: 30px;
    font-family: $policeTitre;
}

.ti-close {
    color: red;
}

.ti-check {
    color: green;
}


// Média queries

@media (max-width: 400px) {
    .presentation {
        display: flex;
        flex-direction: column;
        margin-top: 400px;
        margin-bottom: 200px;
        height: 800px;
        width: auto;
    }

    .images {
        display: flex;
        flex-direction: column;
        width: auto;
    }

    .chambres {
        height: 2500px;
    }

    .texteChambres {
        margin-left: 450px;
        margin-bottom: 30px;
    }

    .boxChambres {
        width: auto;
    }

    .chambreBox2 {
        width: auto;
    }

    .box1 {
        display: flex;
        flex-direction: column;
        height: 1000px;
        align-items: center;
        width: auto;
    }

    .box2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 400px;
        width: auto;
    }

    .restaurant {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .restaurantTexte {
        height: 200px;
    }

    .bienEtre {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .bienEtreTexte {
        height: 200px;
    }

    .fitness {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .fitnessTexte {
        height: 200px;
    }

    .centreAqua {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .centreAquaTexte {
        height: 200px;
    }

    .options {
        display: flex;
        flex-direction: column;
        margin-left: 450px;
        height: 850px;
    }

    .boxOption {
        display: flex;
        flex-direction: column;
        height: 350px;
    }

    .servicesEnPlus {
        display: flex;
        margin-top: 50px;
    }

    .boxService1 {
        display: flex;
        flex-direction: column;
        margin-top: 450px;
    }

    .boxService2 {
        display: flex;
        flex-direction: column;
        margin-top: 180px;
    }

    .basdepageLoic {
        display: flex;
        flex-direction: column;
    }

    .footerGaucheLoic {
        width: 500px;
        margin-left: 250px;
    }

    .footerDroiteLoic {
        margin-left: 250px;
    }
}
