@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Gilda+Display&display=swap%27');
.saif{
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 0%;
    background-color: rgb(29, 27, 27);
}

.section{
  background-image: url(/images/rooms/4.jpg);
    height:1200px;
    
}
.la-tete{
    /* pour le header */
    padding: 40%;
    margin: auto;
    text-align: right;
    padding-top:400px;
    font-family:'Barlow' ;
    
    /* ce police pour le contenu */
  
}

.text{
    color: #fcfbfb;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding-top: 20px;
   
}
.titre{
    color: #fcfbfb;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 3rem;
    font-family:'gilda display' ;
    /* ce police pour les titre  */
    

}

.paragraph{
    padding-top: 40px;
    color: #aa8453;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.test{
    margin-left: 150px;
    margin-right: 100px;
}

.flex{
    background: rgb(29, 27, 27);
    display: flex;
    flex-direction: row;
    align-items:center;   
}
.flex h2{
    color: white;
    text-transform: capitalize;
    font-family:'gilda display';
    font-size: 50px;


}



.flex2{
    margin-right: 100px;
    min-width:20%;

}
.flex2 h2{
    height: 60px;
    color:white;
    font-family:'gilda display';
    

}

.flex2 p{
    color: #8d8d8d;
    

}


.text2{
    text-align:start;
    width: 150%;
    line-height: 40px;
    color: #8d8d8d;

}
i{
    color:#aa8453;
    margin-right:10px;
}

.check1{
     
    // background: rgb(29, 27, 27);
    display: flex;
    margin-left: 25.5%;
    padding-left: 100px;
    padding-right: 100px;
    gap: 100px;
}

.check1 h2{
    color: white;
    padding-bottom: 25px;
    font-family:'gilda display';
}

.check1 p{
   color: #8d8d8d;
   font-family:'Barlow' ;

}

.modification{
    // background: rgb(29, 27, 27);
    padding-left: 50px;
    // padding-right: 600px;
    line-height: 30px;
    margin-left: 25.5%;
}

.modification h2{
 color: white;
 font-family:'gilda display';
}

.modification p{
    color: #8d8d8d;
    font-family:'Barlow' ;
    padding-right:400px ;
    
}

.link{
    // background: rgb(29, 27, 27);
    height: 200px;
    margin-top: 70px;


}
/* pour modifier le bouton */
.link a{
    border: 1px solid rgb(59, 56, 56);
    padding: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: rgb(59, 56, 56);
    color: white;
    font-family:'Barlow' ;
    text-decoration: none;
    
}

.basdepagesaif {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.propossaif,
.contactsaif {
    font-size: 25px;
}

.footerGauchesaif {
    flex-basis: 45%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.footerDroitesaif {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-basis: 30%;
}

.telBassaif {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.telBassaif .flaticon-call {
    color: #ffffff;
    font-size: 30px;
}

.telBassaif .numBassaif {
    text-decoration: none;
    color: #ffffff;
    font-size: 25px;
}

.footerGauchesaif,
.footerDroitesaif {
    font-size: 15px;
}

.mailBassaif {
    color: #ffffff;
    text-decoration-color: #AB854F;
    text-decoration-skip-ink: none;
    text-decoration-thickness: 1px;
    text-underline-offset: 6px;
}

.emojisaif{
   padding-top: 20px;
}

.emojisaif a {
    font-size: 25px;
    text-decoration: none;
}

.ti-instagram {
    color: #ffffff;
}

.ti-twitter-alt {
    color: #ffffff;
}

.flaticon-youtube {
    color: #ffffff;
}

.ti-facebook {
    color: #ffffff;
}

.ti-pinterest-alt {
    color: #ffffff;
}



.basdepagesaif {
    margin-left: 25.5%;
    padding-bottom: 100px;
}