body {
    display: flex;
    margin-left: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
    font-family: $policeClassique;
    h1, h2{font-family: $policeTitre;}
    background-color: $backgroundColorMain;
}

html {

   color: $couleurTexte;
//    rgb(201, 196, 196);
   
}

h2 {
    font-size: 25px;
    font-weight: normal;
}

.droite {
    flex-basis: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.titreform {
    flex-basis: 20%;
    margin-bottom: 0;
}

iframe {
    margin-top: 150px;
    width: 100%;
    height: 500px;
    border: none;
    margin-bottom: 100px;
    filter: grayscale(100%);
}



@media screen and (max-width:400px) {

    .boiteJules {
        margin-left: -13%;
        padding-left: 0%;
        width: 100%;
    }

    .info {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .grosseBoite {
        width: 200%;
        flex-direction: column;
        margin-left: 20%;
    }
    body {
        background-color: $backgroundColorMain;
    }
    .basdepagejules {
        flex-direction: column;
    }
    iframe {
        margin-bottom: 50px;
        margin-top: 75px;
    }
}

@media screen and (max-width:600px) {

    .boiteJules {
        margin-left: -13%;
        padding-left: 0%;
        width: 100%;
    }
    .info {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .grosseBoite {
        width: 200%;
        flex-direction: column;
    }
    body {
        background-color: $backgroundColorMain;
    }
    .basdepagejules {
        flex-direction: column;
    }
    iframe {
        margin-bottom: 50px;
        margin-top: 75px;
    }
}


@media screen and (max-width:768px) {

    .boiteJules {
        margin-left: -13%;
        padding-left: 0%;
        width: 100%;
    }
    .info {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .grosseBoite {
        width: 200%;
        flex-direction: column;
    }
    body {
        background-color: $backgroundColorMain;
    }
    .basdepagejules {
        flex-direction: column;
    }
    iframe {
        margin-bottom: 50px;
        margin-top: 75px;
    }
}
