body {
    display: flex;
    margin-left: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
    font-family: $policeClassique;
    h1, h2{font-family: $policeTitre;}
}

html {

   color: $couleurTexte;
//    rgb(201, 196, 196);
   
}

.grosseBoite {   
    background-color: $backgroundColorMain;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   flex-basis: 80%;
   /* padding-top: 2%;
   padding-left: 6%;
   padding-right: 4%; */
}

.boite {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   width: 80%;
//    margin-left: 28%;
   padding-top: 2%;
   padding-left: 10%;
   padding-right: 5%;
   padding-bottom: 6%;
}
.info {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-left: 0%;

}

.gauche {
    flex-basis: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.telinfo {
    display: flex;
    flex-direction: row;
    font-size: $taillePoliceTexte;
    color: $backgroundColorMain;
    justify-content: space-evenly;
    width: 240px;
    line-height: 25px;
}

.tel {
    color: $texteOrange;
    text-decoration: none;
    font-size: 25px;
}

.telinfo .flaticon-call {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: $taillePoliceTitre;
    color: $texteOrange;

}

.mailinfo {
   display: flex;
   flex-direction: row;
   font-size: $taillePoliceTexte;
   color: $backgroundColorMain;
   justify-content: space-evenly;
   width: 240px;
   line-height: 25px;
}

.flaticon-envelope {
   display: flex;
   flex-direction: row;
   align-items: center;
   font-size: $taillePoliceTitre;
   color: $texteOrange;
}

.mailto {
   color: $texteOrange;
    text-decoration: none;
    font-weight: 600;
    font-size: $taillePoliceTexte;
}

.adressinfo {
   display: flex;
   flex-direction: row;
   font-size: $taillePoliceTexte;
   color: $couleurTexte;
   justify-content: space-evenly;
   width: 240px;
   line-height: 25px;
}

.flaticon-location-pin {
   display: flex;
   flex-direction: row;
   align-items: center;
   font-size: $taillePoliceTitre;
   color: $texteOrange;
}

h2 {
    font-size: 25px;
    font-weight: normal;
}

.droite {
    flex-basis: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.titreform {
    flex-basis: 20%;
    margin-bottom: 0;
}

iframe {
    margin-top: 150px;
    width: 100%;
    height: 500px;
    border: none;
    margin-bottom: 100px;
}

.basdepagejules {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.propos,
.contact {
    font-size: 25px;
}

.footerGauchejules {
    flex-basis: 45%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.footerDroitejules {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-basis: 30%;
}

.telBasjules {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.telBasjules .flaticon-call {
    color: $titreBlanc;
    font-size: $taillePoliceTitre;
}

.telBasjules .numBasjules {
    text-decoration: none;
    color: $titreBlanc;
    font-size: 25px;
}

.footerGauchejules,
.footerDroitejules {
    font-size: $taillePoliceTexte;
}

.mailBasjules {
    color: $titreBlanc;
    text-decoration-color: $texteOrange;
    text-decoration-skip-ink: none;
    text-decoration-thickness: 1px;
    text-underline-offset: 6px;
}

.emojijules{
   padding-top: 20px;
}

.emojijules a {
    font-size: 25px;
    text-decoration: none;
}

.ti-instagram {
    color: $titreBlanc;
}

.ti-twitter-alt {
    color: $titreBlanc;
}

.flaticon-youtube {
    color: $titreBlanc;
}

.ti-facebook {
    color: $titreBlanc;
}

.ti-pinterest-alt {
    color: $titreBlanc;
}