// Mixin pour les petits titre en blanc

@mixin petitTitre {
    font: {
        family: $policeTitre;
        size: $taillePoliceTitre;
    };
    color: $titreBlanc;
}

// Mixin pour les textes

@mixin texteGris {
    font: {
        family: $policeClassique;
        size: $taillePoliceTexte;
    };
    color: $couleurTexte;
}

@mixin texteOrange {
    font: {
        family: $policeClassique;
        size : $taillePoliceTexte;
    };
    color: $texteOrange;
}