// Couleur de titre orange:
$titreOrange : #AB854F;

// Couleur titre blanc:
$titreBlanc : white;

// Couleur du texte:
$couleurTexte : grey;

// Police du texte:
$policeClassique : 'barlow';

// Police des titres:
$policeTitre : 'Gilda';

// Couleur de fond pour les liens
$backgroundcolorLien : rgb(28, 156, 28) ;