// Couleur de texte orange:
$texteOrange : #AB854F;

// Couleur titre blanc:
$titreBlanc : white;

// Couleur du texte:
$couleurTexte : grey;

// Police du texte:
$policeClassique : 'Barlow';

// Police des titres:
$policeTitre : 'Gilda';

// Taille police texte
$taillePoliceTexte : 15px;

// Taille police titre
$taillePoliceTitre : 30px;

// Couleur de fond pour les liens
$backgroundcolorLien : #aa8453 ;

// Background color main
$backgroundColorMain : #2D2B29;

// Background section chambre
$backgroundColorSectionChambre : #272523;

// Background section footer
$backgroundColorFooter : #282623;

// Background section navbar
$backgroundColorNav : #252321;

// Background section grid & options
$backgroundColorOptions : #47454077;
// Taille police orange
$taillePoliceOrange : 20px;
