.paragraph{
    padding-top: 40px;
    color: #aa8453;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.test{
    margin-left: 150px;
    // margin-right: 100px;
}

.flex{
    background: rgb(29, 27, 27);
    display: flex;
    flex-direction: row;
    align-items:center;   
}
.flex h2{
    color: white;
    text-transform: capitalize;
    font-family:'gilda display';
    font-size: 50px;


}



.flex2{
    margin-right: 100px;
    min-width:20%;

}
.flex2 h2{
    height: 60px;
    color:white;
    font-family:'gilda display';
    

}

.flex2 p{
    color: #8d8d8d;
    

}


.text2{
    text-align:start;
    width: 70%;
    line-height: 40px;
    color: #8d8d8d;

}
i{
    color:#aa8453;
    margin-right:10px;
}