.section{
    background-image: url(/images/rooms/4.jpg);
    background-repeat: no-repeat;
    padding: 20%;
      
  }
  .la-tete{
    /* pour le header */
    margin: auto;
    text-align:center;
    font-family:'Barlow' ;
  
    /* ce police pour le contenu */
  
}
  
  .text{
      color: #fcfbfb;
      text-transform: uppercase;
      letter-spacing: 3px;
      padding-top: 20px;
     
  }
  .titre{
      color: #fcfbfb;
      text-transform: uppercase;
      letter-spacing: 3px;
      font-size: 3rem;
      font-family:'gilda display' ;
      /* ce police pour les titre  */
      
  
  }