.check1{
     
    background: rgb(29, 27, 27);
    display: flex;
    padding-left: 200px;
    padding-right: 300px;
    gap: 100px;
}

.check1 h2{
    color: white;
    padding-bottom: 25px;
    font-family:'gilda display';
}

.check1 p{
   color: #8d8d8d;
   font-family:'Barlow' ;

}

.modification{
    background: rgb(29, 27, 27);
    padding-left: 200px;
    padding-right: 600px;
    margin-top: -20px;
}

.modification h2{
 color: white;
 font-family:'gilda display';
}

.modification p{
    color: #8d8d8d;
    font-family:'Barlow' ;
    
}

.link{
    background: rgb(29, 27, 27);
    height: 75px;
    margin-top: 40px;


}
/* pour modifier le bouton */
.link a{
    border: 1px solid black;
    padding: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: rgb(59, 56, 56);
    color: white;
    font-family:'Barlow' ;
    text-decoration: none;
    
}